<template name="nav">
    <div id="custom-bootstrap-menu" class="navbar navbar-default nav-black" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="/"><img class="header-img" src="img/Logo.jpg" alt="CS Trophy Gestion"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">Home</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Report <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="/report">Report</a></li>
                          <li><a href="{{pathFor 'year-view'}}">Global report</a></li>
                          <li><a href="/compare">3 years comparison</a></li>
                          <li class="divider"></li>
                          <li><a href="/telemarketing">Telemarketing</a></li>
                          <li><a href="/recall">Recall</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">SMS <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/sms-order">SMS Order</a></li>
                            <li><a href="/sms">SMS Stats</a></li>
                        </ul>
                    </li>
                    <li><a href="/customer">Active customer</a></li>
                    <li><a href="/emailing">Emailing</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">HL <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/hotline">Top Ten</a></li>
                            <li><a href="/stats_hl">Appels</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="/stats_install">Install V5</a></li>
                    <!--<li><a href="/test">GenCode</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</template>