<template name="Home">

    <div class="row">
        <div class="container">
          {{#if loading}}
            {{>Loading}}
          {{/if}}
          <hr/>
          <div class="home-header">              
            <h3 class="center-title ombre">Contracts</h3>
            <button class="previous btn btn-info">Prev </button> <button class="next btn btn-info"> Next</button>
          </div>          
          <hr/>
        </div>
        {{> HomeContract}}
        <div class="container">
          <hr/>
            <h3 class="center-title ombre">Services</h3>
          <hr/>
        </div>
        {{> HomeService}}
    </div>

    <div class="container">
        {{> HomeGraph}}
    </div>

    <hr/>
    <div class="container live-info">
      <h3 class="center-title ombre">Active contract</h3>
      <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Contract</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody>
          {{#each liveInfo.data}}
            <tr>
                <td class="">{{name}}</td>
                <td class="">{{qte}}</td>
            </tr>
          {{/each}}
          <tr>
            <td class="total">Total</td>
            <td class="total">{{totalActiveContract}}</td>
          </tr>
        </tbody>
      </table>
    </div>

</template>

<template name="HomeContract">

    <div class="col-sm-6">
        <h3 class="ombre center-title">{{mois}} {{actuYear}}</h3>

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Contract</th>
                        <th>Qty</th>
                        <th>Rev</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dataActual}}
                        {{> OneLine}}
                    {{/each}}
                    <tr>
                        <td class="total">Total</td>
                        <td class="total">{{qty_contract_actual}}</td>
                        <td class="total">{{money totalActual}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="col-sm-6">
        <h3 class="ombre center-title">{{mois}} {{prevYear}}</h3>

        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Contract</th>
                    <th>Qty</th>
                    <th>Rev</th>
                </tr>
            </thead>
            <tbody>
                {{#each dataPrevious}}
                    {{> OneLine}}
                {{/each}}
                <tr>
                    <td class="total">Total</td>
                    <td class="total">{{qty_contract_previous}}</td>
                    <td class="total">{{money totalPrevious}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<template name="HomeService">

        <div class="col-sm-6">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Service</th>
                    <th>Qty</th>
                    <th>Rev</th>
                </tr>
                </thead>
                <tbody>
                {{#each dataServiceActual}}
                    {{> OneLine}}
                {{/each}}
                <tr>
                    <td class="total">Total</td>
                    <td class="total">{{qty_service_actual}}</td>
                    <td class="total">{{money totalActual}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Service</th>
                    <th>Qty</th>
                    <th>Rev</th>
                </tr>
                </thead>
                <tbody>
                {{#each dataServicePrevious}}
                    {{> OneLine}}
                {{/each}}
                <tr>
                    <td class="total">Total</td>
                    <td class="total">{{qty_service_previous}}</td>
                    <td class="total">{{money totalPrevious}}</td>
                </tr>
                </tbody>
            </table>
        </div>

</template>

<template name="OneLine">
    <tr>
        <td>{{getServiceName catno}}</td>
        <td>{{qty}}</td>
        <td>{{money montant}}</td>
    </tr>
</template>

<template name="HomeGraph">
    <div id="chart">
        {{createChart}}
    </div>
</template>