<template name="Emailing">
    <div class="version-tab">
        {{#each tabVersion}}
            <button class="btn btn-lg release" id={{this}}>{{this}}</button>
        {{/each}}
    </div>
    <div class="emailing-body">
        <div class="header-emailing">
            <p>
                <img src="img\image001.gif" alt="Logo-Header" id="img-header">
            </p>
            <header>
                <h3>Liste des changements {{release_news.version}}</h3>
            </header>
            <hr>
        </div>
        <div class="content-emailing">
            
            <!-- Les news -->

            {{# each release_news.content}}
                <p>{{{this}}}</p>
            {{/each }}
            
        </div>
        <div class="footer-emailing">
            <hr>
            <p>
                L’équipe CS Trophy Gestion.
            </p>
            <p>
                <img src="img\image003.gif" alt="Logo-Footer" id="img-footer"> <br>
                <a href="http://www.carestreamdental.com">www.carestreamdental.com</a> <br> Trophy, a Carestream Dental Company
                <br> 4 rue F Pelloutier - Croissy Beaubourg I 77435 I Marne la Vallée Cedex 2 I France
            </p>
        </div>
    </div>
</template>