<template name="compare">
    <div class="container">
        <h1>Compare</h1>
        {{> query_design}}

         {{getChart}}

        <canvas id="chart-compare" width="1200" height="600">

        </canvas>


    </div>
</template>

<template name="query_design">
    <form class="form-horizontal">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Year1</label>
                <div class="col-md-2">
                    <input id="year1" name="textinput" placeholder="" class="form-control input-md" type="text">
                </div>
                <label class="col-md-2 control-label" for="textinput">Year2</label>
                <div class="col-md-2">
                    <input id="year2" name="textinput" placeholder="" class="form-control input-md" type="text">
                </div>
                <label class="col-md-2 control-label" for="textinput">Year3</label>
                <div class="col-md-2">
                    <input id="year3" name="textinput" placeholder="" class="form-control input-md" type="text">
                </div>
            </div>
        </fieldset>
    </form>
</template>