<template name="Stat_Install">
    <div class="container-install">
        {{#if getError}}
            <div class="alert alert-danger">
                <a href class="close" data-dismiss="alert" aria-label="close">x</a>
                {{getError}}
            </div>
        {{/if}}
        
        <h1 class="center-title ombre">Stats Install V5</h1>
        <div class="row">
            <div class="col-md-5">
                {{>InstallGraph}}
            </div>
            <div class="col-md-7">
                <div class="install-filter">
                    <button class="btn btn-primary js-filter-all">All</button>
                    <button class="btn btn-warning js-filter-installed">Installed</button>
                    <button class="btn btn-success js-filter-not">Not Installed</button>
                    <div class="counter-install">
                        {{counter}} Rec(s)
                    </div>
                </div>
                <table  class="table table-condensed table-hover table-install">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th># Client</th>
                        <th>Serial</th>
                        <th>Sent</th>
                        <th>Installed</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#each data}}
                        <tr>
                            <td>
                                <a href="#" class="js-edit-install"
                                   data-id="{{_id}}" data-row="{{row}}" data-serial="{{serial}}" data-dt_install="{{date_install}}" data-dt_sent="{{date_sent}}" data-cnx="{{cnx}}"
                                >{{name}}</a>
                            </td>
                            <td>{{num_client}}</td>
                            <td>{{serial}}</td>
                            <td>{{formatDate date_sent}}</td>
                            <td>{{formatDate date_install}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{>ModalInstall}}
</template>

<template name="InstallGraph">
    <div id="install-chart">
       {{createChartInstall}}
    </div>
</template>

<template name="ModalInstall">
    <!-- Modal -->
    <div class="modal fade" id="modal-install" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close js-close-install" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title ombre">{{ editCustomer.name }}</h4>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body install-edit">
                            <div class="install-edit__adr">
                                <h4>{{editCustomer.adr}}</h4>
                                <h4>{{editCustomer.adr2}}</h4>
                                <div class="zip-city">
                                    <h4>{{editCustomer.zip}}</h4>&nbsp;
                                    <h4>{{editCustomer.city}}</h4>
                                </div>
                                <h4><i class="glyphicon glyphicon-envelope"></i> {{editCustomer.email}}</h4>
                                <h4><i class="glyphicon glyphicon-earphone"></i>{{formatTel editCustomer.tel}}</h4>
                            </div>
                            <div class="install-edit__info">
                                <div class="install-serial">
                                    Serial: {{editCustomer.serial}}
                                </div>
                                <div class="install-version">
                                    Version: {{editCustomer.version}}
                                </div>
                                <div class="input-box install-edit__cnx">
                                    <input type="number" name="cnx" value="{{editCustomer.cnx}}" id="cnx" min="0">
                                    <label for="cnx">Licences</label>
                                </div>
                                <div class="input-box install-edit__input-date">
                                    <input type="date" name="date-install" value="{{dateForInput editCustomer.date_install}}" id="edit-install-dt">
                                    <label for="date-install">Installed</label>
                                </div>
                            </div>
                        </div>
                        <div class="install-edit__sr">
                            <button class="btn btn-primary js-get-sr">Service Request</button>
                                {{#each da in sr}}
                                    <div class="panel panel-default install-da">
                                        <div class="panel-body">
                                            <span class="date-da">{{formatDate da.created}} - </span>
                                            <span class="title-da">{{da.title}}</span>
                                            <p class="desc-da">{{da.description}}</p>
                                            <span class="login-da"><i class="glyphicon glyphicon-user"></i> - {{getLogin da.login}} -</span>
                                        </div>
                                    </div>

                                {{/each}}
                        </div>

                    </div>

                    <form class="form-edit-customer-install">
                        <div class="modal-footer">

                            <button type="submit" class="btn btn-success js-submit-install" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-primary js-close-install" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-warning js-suivant">Suivant</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>